<% if current_user && current_user.profile && current_user.profile.statut == "clientpaid" || current_user.profile.statut == "autor" || current_user.profile.statut == "admin"%>
<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <%= render 'shared/navbar'%>

  <!-- Page info -->
  <div class="page-info-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1632426999/homepage_bblzst.png">
    <div class="container">
      <div class="site-breadcrumb">
        <a style="color:black;" href="<%=pages_home_path%>">Accueil</a>
        <a style="color:black;" href="<%=pages_client_path%>">Mon espace</a>
        <span>Article</span>
      </div>
    </div>
  </div>
  <!-- Page info end -->





  <!-- single course section -->
  <section class="single-course spad pb-0">
    <div class="container">
      <div class="course-meta-area">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="course-note"><%= @article.created_at.strftime("%d.%m.%Y")%></div>
            <h3><%=@article.title.capitalize%></h3>
            <div class="course-metas">
              <div class="course-meta">
                <div class="course-author">
                  <div class="ca-pic set-bg" data-setbg="../assets/authors/2.jpg"></div>
                  <h6>Rédacteur</h6>
                  <p><%=@article.autor%></p>

                </div>
              </div>
              <div class="course-meta">
                <div class="cm-info">
                  <h6>Thème</h6>
                  <p><%=@article.theme%></p>
                </div>
              </div>

              <div class="course-meta">
                <div class="cm-info">
                  <h6>Commentaires</h6>
                  <p>2 commentaires <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star is-fade"></i>
                  </span></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% if @article.photos.last.nil?%>
        <img src="https://res.cloudinary.com/dz83jh064/image/upload/v1630570695/6276688407_28fb0d1b04_o_c3ydng.jpg" alt="" class="course-preview">
      <%else%>
        <img src="<%=@article.photos.last.url%>" alt="" class="course-preview">
      <%end%>
      <div class="row">
        <div class="col-lg-10 offset-lg-1 course-list">
          <div class="cl-item">
            <%= @article.body%>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- single course section end -->

<%= render 'shared/search'%>

  <!-- Page -->
  <section class="realated-courses spad">
    <div class="course-warp">
      <h2 class="rc-title">Derniers articles traités</h2>
      <div class="rc-slider owl-carousel">
        <!-- course -->

        <% @articles = Article.all.order("created_at DESC").first(6) %>
          <% @articles.each do |art|%>

        <div class="course-item">

          <% if art.photos.last.nil?%>
                <div class="course-thumb set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1630570695/6276688407_28fb0d1b04_o_c3ydng.jpg">
                <%else%>
                <div class="course-thumb set-bg" data-setbg="<%=art.photos.last.url%>">
                <%end%>





            <div class="price"><%= art.created_at.strftime("%d.%m.%Y")%></div>
          </div>
          <div class="course-info">
            <div class="course-text">
              <h5><%=art.title.capitalize%></h5>
              <p><%=truncate(art.body.to_plain_text, length: 100).gsub("[&quot;"," ")%></p>
              <div class="students"><%=art.theme%></div>
            </div>
            <div class="course-author">


              <% if art.autor.nil?%>
                      <div class="ca-pic set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png"></div>
                    <%else%>
                      <% @autor = Profile.where(last_name: art.autor.split.last, statut: "autor")%>
                      <% if @autor.last.photos.last.nil?%>
                        <div class="ca-pic set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png"></div>
                      <%elsif @autor.length > 1%>
                        <div class="ca-pic set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png"></div>
                      <%else%>
                        <div class="ca-pic set-bg" data-setbg="<%=@autor.last.photos.last.url%>"></div>
                      <%end%>
                    <%end%>
                    <% if art.autor.nil?%>
                      <p>Auteur non communiqué</p>
                    <%else%>
                      <p><%=art.autor%></p>
                    <%end%>


                    <br>
                    <%if current_user && current_user.profile.nil?%>
                     <a href="<%=new_user_registration_path%>" class="site-btn header-btn">Je crée mon profil</a>
                    <% elsif current_user && current_user.profile && current_user.profile.statut == "clientpaid" || current_user.profile.statut == "autor" || current_user.profile.statut == "admin"%>
                    <a href="<%=article_path(art)%>" class="site-btn header-btn">Voir </a>
                    <%else%>
                    <a href="" class="site-btn header-btn">Je m'abonne</a>
                    <%end%>


            </div>
          </div>
        </div>
        <%end%>



      </div>
    </div>
  </section>
  <!-- Page end -->

  <%= render 'shared/footer'%>

</body>
<%else%>
<div class="page-info-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1632426999/homepage_bblzst.png">
    <div class="container">
      <div class="site-breadcrumb">
        <a style="color:black;" href="<%=pages_home_path%>">Accueil</a>
        <a style="color:black;" href="<%=pages_client_path%>">Mon espace</a>
        <span>Article</span>
      </div>
    </div>
  </div>
  <h1> Pour visualiser un article, vous devez être abonné !</h1>
  <a href="" class="site-btn header-btn">Je m'abonne</a>
  <a href="<%=pages_home_path%>" class="site-btn header-btn">Retour Accueil</a>
  <%= render 'shared/footer'%>

<%end%>

