<footer class="footer-section spad pb-0">
    <div class="footer-top">
      <div class="footer-warp">
        <div class="row">
          <div class="widget-item">
            <h4>Scellement & collage</h4>
            <ul class="contact-list">
              <li>277 Avenue Jean Garaialde<br>62152 HARDELOT (France)</li>
              <li>+53 345 7953 32453</li>
              <li>staumont.antoine@me.com</li>
            </ul>
          </div>
          <div class="widget-item">
            <h4>Administrateur</h4>
            <%@direction = Profile.where(statut: "admin")%>

            <ul>
            <% @direction.each do |admin|%>
              <li><p><%=admin.first_name.capitalize%> <%=admin.last_name.upcase%></p></li>

              <%end%>
            </ul>
          </div>
          <div class="widget-item">
            <h4>Auteurs</h4>
            <%@auteur = Profile.where(statut: "autor")%>
            <ul>
              <%@auteur.each do |autor|%>
              <li><p><%=autor.first_name.capitalize%> <%=autor.last_name.upcase%></p></li>
              <%end%>
            </ul>
          </div>
          <div class="widget-item">
            <h4>Quelques chiffres</h4>
            <ul>
              <li><p>Nombre d'inscrits: <%=User.all.count%></p></li>
              <li><p>Nombres d'articles: <%=Article.all.count%></p></li>
              <li><p>Année de création : 2021</p></li>

            </ul>
          </div>
          <div class="widget-item">
           <div class="site-logo">
            <img src="https://res.cloudinary.com/dz83jh064/image/upload/v1636896617/logook_zcjtnu.png" alt="">
          </div>

          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-warp">
        <ul class="footer-menu">
          <li><a href="#">Conditions Générales</a></li>

          <li><a href="#">Mentions légales</a></li>
        </ul>
        <div class="copyright">
Scellement & Collage &copy;<script>document.write(new Date().getFullYear());</script>
</div>
      </div>
    </div>
  </footer>
