<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<%= render 'shared/navbar'%>
	<div class="page-info-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1636897778/Espace_client_agrp0c.png">
		<div class="container">
			<div class="site-breadcrumb">
				<a style="color:black;" href="<%=pages_home_path%>">Accueil</a>
				<span>Mon espace</span>
			</div>
		</div>
	</div>

	<section class="course-section spad pb-0">
		<div class="course-warp">
      <% if current_user && current_user.profile.nil?%>
        <div class="card">
          <div class="card-header">
            Scellements & Collages
          </div>
          <div class="card-body">
            <h5 class="card-title">Encore une étape !</h5>
            <p class="card-text">Veuillez créer votre profil pour continuer.</p>
            <a href="<%=new_profile_path%>" class="site-btn header-btn">Je crée mon profil</a>
          </div>
        </div>

      <% elsif current_user && current_user.profile && current_user.profile.statut == "client"%>
        <div class="card">
          <div class="card-header">
            Scellements & Collages
          </div>
          <div class="card-body">
            <h5 class="card-title">Vous y êtes!</h5>
            <p class="card-text">Pour pouvoir visualiser nos articles, veuillez vous abonner !</p>
            <a href="<%=new_charge_path%>?subscription=yes" class="site-btn header-btn">Je m'abonne</a>
          </div>
        </div>
      <%end%>
			<ul class="course-filter controls">
				<% @themesarticles = Theme.all%>
        <li class="control active" data-filter="all">Tous</li>
        <% @themesarticles.each do |t|%>
          <li class="control" data-filter=".<%=t.title.gsub(/[^a-zA-Z0-9\-]/,"").delete(' ')%>"><%=t.title%></li>
        <%end%>
			</ul>                                       
			<div class="row course-items-area">
        <% @articles = Article.all%>
        <% @articles.each do |article| %>
				  <% if article.theme.nil?%>
            <div class="mix col-lg-3 col-md-4 col-sm-6">
          <%else%>
            <div class="mix col-lg-3 col-md-4 col-sm-6 <%=article.theme.gsub(/[^a-zA-Z0-9\-]/,"").delete(' ')%>">
          <%end%>
					    <div class="course-item">
					<% if article.photos.last.nil?%>
            <div class="course-thumb set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1630570695/6276688407_28fb0d1b04_o_c3ydng.jpg">
          <%else%>
            <div class="course-thumb set-bg" data-setbg="<%=article.photos.last.url%>">
          <%end%>
					<div class="price"><%= article.created_at.strftime("%d.%m.%Y")%></div>
				</div>
				<div class="course-info">
					<div class="course-text">
						<h5><%=article.title.capitalize%></h5>
						<p><%=truncate(article.body.to_plain_text, length: 50).gsub("[&quot;"," ")%></p>
						<div class="students"><%=article.theme%></div>
					</div>
					<div class="course-author">
            <% if article.autor.nil?%>
              <div class="ca-pic set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png"></div>
            <%else%>
              <% @autor = Profile.where(last_name: article.autor.split.last, statut: "autor")%>
              <% if @autor.last.photos.last.nil?%>
							  <div class="ca-pic set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png"></div>
              <%elsif @autor.length > 1%>
                <div class="ca-pic set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png"></div>
              <%else%>
                <div class="ca-pic set-bg" data-setbg="<%=@autor.last.photos.last.url%>"></div>
              <%end%>
            <%end%>
						<% if article.autor.nil?%>
              <p>Auteur non communiqué</p>
            <%else%>
              <p><%=article.autor%></p>
            <%end%>
            <br>
            <%if current_user && current_user.profile.nil?%>
              <a href="<%=new_user_registration_path%>" class="site-btn header-btn">Je crée mon profil</a>
            <% elsif current_user && current_user.profile && current_user.profile.statut == "clientpaid" || current_user.profile.statut == "autor" || current_user.profile.statut == "admin"%>
              <a href="<%=article_path(article)%>" class="site-btn header-btn">Voir </a>
            <%else%>
              <a href="<%=new_charge_path%>?subscription=yes" class="site-btn header-btn">Je m'abonne</a>
            <%end%>
					</div>
				</div>
			  </div>
		    </div>
        <%end%>
			</div>
      <%= render 'shared/search'%>
			<div class="featured-courses">
				<div class="featured-course course-item">
					<div class="course-thumb set-bg" data-setbg="../assets/courses/f-1.jpg">
						<div class="price">Price: $15</div>
					</div>
					<div class="row">
						<div class="col-lg-6 offset-lg-6 pl-0">
							<div class="course-info">
								<div class="course-text">
									<div class="fet-note">Featured Course</div>
									<h5>HTNL5 & CSS For Begginers</h5>
									<p>Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="../assets/authors/1.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="featured-course course-item">
					<div class="course-thumb set-bg" data-setbg="../assets/courses/f-2.jpg">
						<div class="price">Price: $15</div>
					</div>
					<div class="row">
						<div class="col-lg-6 pr-0">
							<div class="course-info">
								<div class="course-text">
									<div class="fet-note">Featured Course</div>
									<h5>HTNL5 & CSS For Begginers</h5>
									<p>Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="../assets/authors/2.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <%= render 'shared/footer'%>
</body>

