
<body>
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <%= render 'shared/navbar'%>
  <div class="page-info-section set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1632426999/homepage_bblzst.png">
    <div class="container">
      <div class="site-breadcrumb">
        <a style="color:black;" href="<%=pages_home_path%>">Accueil</a>
        <span>Résultat de recherche</span>
      </div>
    </div>
  </div>

  <section class="course-section spad pb-0">
    <div class="course-warp">
      <ul class="course-filter controls">
        <% @themesarticles = Theme.all%>

        <li class="control active" data-filter="all">Tous</li>
        <% @themesarticles.each do |t|%>
        <li class="control" data-filter=".<%=t.title.gsub(/[^a-zA-Z0-9\-]/,"").delete(' ')%>"><%=t.title%></li>
        <%end%>
      </ul>
      <div class="row course-items-area">


          <% @search = params.values%>


          <% if @search.length == 2%>

          <h2>Pas de résultat...</h2>
          <%else%>

          <% @search.each do |result|%>
            <% if result != "pages" && result != "resultsearch"%>

              <% @art = Article.where(id: result.to_i)%>

              <% if @art.last.theme.nil?%>
                <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                  <%else%>
            <div class="mix col-lg-3 col-md-4 col-sm-6 <%=@art.last.theme.gsub(/[^a-zA-Z0-9\-]/,"").delete(' ')%>">
            <%end%>
                  <div class="course-item">
                    <% if @art.last.photos.last.nil?%>
                <div class="course-thumb set-bg" data-setbg="https://res.cloudinary.com/dz83jh064/image/upload/v1630570695/6276688407_28fb0d1b04_o_c3ydng.jpg">
                <%else%>
                <div class="course-thumb set-bg" data-setbg="<%=@art.last.photos.last.url%>">
                <%end%>
                      <div class="price"><%= @art.last.created_at.strftime("%d.%m.%Y")%></div>
                    </div>
                    <div class="course-info">
                      <div class="course-text">
                        <h5><%=@art.last.title%></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                        <div class="students">120 Students</div>
                      </div>
                      <div class="course-author">
                        <div class="ca-pic set-bg" data-setbg="../assets/authors/1.jpg"></div>
                        <% if @art.last.autor.nil?%>
                    <p>Auteur non communiqué</p>
                    <%else%>
                    <p><%=@art.last.autor%></p>
                    <%end%>
                    <a href="<%=article_path(@art.last)%>" class="site-btn header-btn">Voir </a>
                      </div>
                    </div>
                  </div>
                </div>




            <%end%>
          <%end%>
          <%end%>

      </div>

      <%= render 'shared/search'%>
      <div class="featured-courses">
        <div class="featured-course course-item">
          <div class="course-thumb set-bg" data-setbg="../assets/courses/f-1.jpg">
            <div class="price">Price: $15</div>
          </div>
          <div class="row">
            <div class="col-lg-6 offset-lg-6 pl-0">
              <div class="course-info">
                <div class="course-text">
                  <div class="fet-note">Featured Course</div>
                  <h5>HTNL5 & CSS For Begginers</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna</p>
                  <div class="students">120 Students</div>
                </div>
                <div class="course-author">
                  <div class="ca-pic set-bg" data-setbg="../assets/authors/1.jpg"></div>
                  <p>William Parker, <span>Developer</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="featured-course course-item">
          <div class="course-thumb set-bg" data-setbg="../assets/courses/f-2.jpg">
            <div class="price">Price: $15</div>
          </div>
          <div class="row">
            <div class="col-lg-6 pr-0">
              <div class="course-info">
                <div class="course-text">
                  <div class="fet-note">Featured Course</div>
                  <h5>HTNL5 & CSS For Begginers</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna</p>
                  <div class="students">120 Students</div>
                </div>
                <div class="course-author">
                  <div class="ca-pic set-bg" data-setbg="../assets/authors/2.jpg"></div>
                  <p>William Parker, <span>Developer</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/footer'%>
</body>

